/* testing */


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}


/* ~~ General ~~ */

p, li, span {
    font-size: 14px;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    margin-top: 20px;
}

h1, h2 {
    font-family: 'Alegreya SC';
    font-weight: 400;
}

h2 {
    text-transform: lowercase;
}

ul {
    list-style: none;
}

main {
    margin: 0 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* ~~ Header ~~ */

header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

header h2 {
    font-size: 20px;
}

header li {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}

header i {
    margin-left: 10px;
}

header ul {
    float: right;
}

header .contact-info,
header .contact-info p {
    font-family: 'Open Sans';
    font-size: 14px;
}

header i.fa {
    font-size: 24px;
    margin-right: 5px;
}

header .contact-info + i.fa {
    font-size: 16px;
}

header .profile-icons {
    margin-left: -8px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}


/* ~~ About Section ~~ */
#about {
    margin: 0 30px;
    margin-bottom: 5px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

#about h2 {
    font-size: 30px;
}

.center {
    text-align: center;
}

.description {
    margin-bottom: 5px;
    text-align: justify;
}

.row > * {
    display: inline-block;
}




/* ~~ Sections ~~ */
section {
    position: relative;
    margin-bottom: 0px;
}

main section h2 {
    text-decoration: underline;
}

h3 {
    font-size: 14px;
}

article {
    position: relative;
    margin-bottom: 0;
}

article.row {
    margin-bottom: 0;
}

article .title {
    font-weight: 700;
}

article .date {
    display: inline;
    vertical-align: middle;
    float: right;
    font-family: 'Open Sans';
}

article .organization {
    //color: #f44336;
    font-style: italic;
}

article ul {
    margin-left: 18px;
}

article ul > li {
    position: relative;
    list-style: disc;
}

