/* CSS Characters */


.char-dot:after,
.char-return:after {
    display: inline-block;
    opacity: 0.5;
}

.char-dot:after {
    content: ".";
    transform: translate(-100%, -25%);
}

.char-return:after {
    content: "\00ac";
    transform: translate(25%, 0);
}
